nav{
    height: 50px;
    border: 1px solid #dfdfdf;
}

.div-header{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-title{
    height: 40px;
    width: 80px;
    padding: 0 20px;
}
.active{
    border-bottom: 2px solid firebrick;
}

.btn-menu{
    color: rgb(16, 16, 80);
    background-color: rgb(234, 212, 236);
    font-weight: bold;
    margin: 5px;
}
  
  .btn-menu:hover{
    background-color: rgb(218, 182, 221);
    font-weight: bold;
}