body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradient-custom-5 {
  /* fallback for old browsers */
  background: #ebbba7;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(235, 187, 167, 1),
    rgba(207, 199, 248, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(235, 187, 167, 1),
    rgba(207, 199, 248, 1)
  );
}

.btn-menu{
    color: rgb(16, 16, 80);
    background-color: rgb(234, 212, 236);
    font-weight: bold;
    margin: 5px;
}
  
  .btn-menu:hover{
    background-color: rgb(218, 182, 221);
    font-weight: bold;
}

.table{
  table-layout: auto;
  width: 150px;
  vertical-align: bottom;
}

.navbar {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.navbar-brand-font {
  font-size: 30px;
  font-weight: bold;
  color: #645394; 
  letter-spacing: 1.5px;
}

.navbar-brand-font:hover {
  font-size: 30px;
  font-weight: bold;
  color: #645394; 
  letter-spacing: 1.5px;
}

.font-color {
  color: #645394; 
}

.container-width {
    max-width: 1000px;
}